<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Te Reo Dictionary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
<nav>
    <div class="container-nav">
        <div class="navbar-brand">Te Reo Dictionary</div>
        <div class="navbar-links">
            <a href="/">home/kainga</a>
            <a href="/database/-1">words/kupu</a>
            {% if logged_in() %}
                <a href="/logout">logout/takiputa</a>
            {% else %}
                <a href="/login">login/takiuru</a>
            {% endif %}
            {% if is_admin() %}
                <a href="/admin">admin/whakahaere</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    <header>
        <h1>{% block pageheading %}{% endblock %}</h1>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    {% with messages = get_flashed_messages() %}
        <!-- Flask flashes messages display -->
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
</body>
</html>