{% extends "base.html" %}

{% block pageheading %}
    {% if id == -1 %}
        database
    {% else %}
        {{ categories[id-1][1] }}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="filters">
        <div class="dropdown">
            <button class="dropdown-button">Categories<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="/database/-1">all</a>
                {% for category in categories %}
                    <a href="/database/{{ category[0] }}">{{ category[1] }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="search-bar">
            <form method="POST" action="/search">
                <input type="text" placeholder="Search" name="search" id="search">
                <button type="submit">Submit<i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="entry">
        {% for entry in entries %}
            <a href="/entry/{{ entry[0] }}">
                <div class="entry-box">
                    <h3 class="entry-box-heading"><strong>{{ entry[1] }}</strong></h3>
                    <p class="entry-box-heading"><strong>({{ entry[5] }}) {{ entry[2] }}</strong></p>
                    <p class="entry-box-info">{{ entry[3] }}</p>
                    <p class="entry-box-info"><strong>Level </strong>{{ entry[4] }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}