{% extends "base.html" %}

{% block pageheading %}Entry {{ entry[0] }}{% endblock %}

{% block main %}
        <div class="big-entry-box">
                <h3 class="entry-box-heading"><strong>{{ entry[1] }}</strong></h3>
                <p class="entry-box-heading"><strong>({{ entry[5] }}) {{ entry[2] }}</strong></p>
                <p class="entry-box-info">{{ entry[3] }}</p>
                <p class="entry-box-info"><strong>Level </strong>{{ entry[4] }}</p>
                <img class="entry-box-image" src="/static/images/{{ entry[6] }}">
                <p class="entry-box-info"><strong>Uploaded by </strong>{{ entry[7] }} {{ entry[8] }}</p>
                <p class="entry-box-info">{{ entry[9] }}</p>
        </div>
{% endblock %}