{% extends "base.html" %}

{% block pageheading %}login{% endblock %}

{% block main %}
<form class="myform" method="POST">
    <div class="form-group">
        <div class="form-label">Email:</div>
        <div class="form-element"><input type="email" name="email" required></div>
    </div>
    <div class="form-group">
        <div class="form-label">Password:</div>
        <div class="form-element"><input type="password" name="password" required></div>
    </div>
    <div class="form-group">
        <div class="form-label"></div>
        <div class="form-element"><input type="submit" value="Login"></div>
    </div>
<p><br><br><br>No account? <a href="/signup">Sign up!</a></p>
</form>

{% endblock %}