{% extends "base.html" %}

{% block pageheading %}sign up/rēhita{% endblock %}

{% block main %}
    <form class="myform" method="POST">
        <div class="form-group">
            <div class="form-label">First Name/Ingoa:</div>
            <div class="form-element"><input type="text" name="f_name" id="f_name" required maxlength="40"
                                             pattern="\s*(\S\s*){1,}"/></div>
            <!-- requires at least one non-space character -->
        </div>
        <div class="form-group">
            <div class="form-label">Last Name/Ingoa Whanau:</div>
            <div class="form-element"><input type="text" name="l_name" id="l_name" required maxlength="40"
                                             pattern="[^' ']+"/></div>
            <!-- cannot include spaces -->
        </div>
        <div class="form-label">&#8203;</div>
        <p class="notes">*Your first and last name will be displayed on the website.</p>
        <div class="form-group">
            <div class="form-label">Email/Īmēra:</div>
            <div class="form-element"><input type="email" name="email" id="email" required maxlength="320"></div>
        </div>
        <div class="form-group">
            <div class="form-label">Password/Kupu Muna:</div>
            <div class="form-element"><input type="password" name="password" id="password" required minlength="8"></div>
        </div>
        <div class="form-group">
            <div class="form-label">Confirm Password/Whakakoia:</div>
            <div class="form-element"><input type="password" name="password2" id="password2" required minlength="8">
            </div>
        </div>
        <div class="form-label">&#8203;</div>
        <p class="notes">*Your password must contain at least 8 characters.</p>
        <div class="form-group">
            <div class="form-label">Account type/Kaiwhakamahi:</div>
            <div class="form-element">
                <select id="type" name="type" required>
                    <option value="0">student</option>
                    <option value="1">teacher</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label"></div>
            <div class="form-element"><input type="submit" value="Sign Up"></div>
        </div>
    </form>

{% endblock %}